{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container">
  <h3 class="text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search" />
              <span class="input-group-addon">
                <button type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">
          {% if users %} {% for user1 in users %}
          <a href="/chat/{{user1.username}}">
            <div
              class="chat_list {% if user1.username == user %} active_chat {% endif %}"
            >
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="{% static '/assets/user-profile.png' %}"
                    alt="imgprofile"
                  />
                </div>
                <div class="chat_ib">
                  <h5>{{user1.username}} </h5>
                </div>
              </div>
            </div>
          </a>
          {% endfor %} {% endif %}
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history" id="messages">
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Apollo University, Delhi, India Test</p>
            </div>
          </div>
          <div class="incoming_msg" id="incoming_msg"> </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input
              type="text"
              id="input_msg"
              class="write_msg"
              placeholder="Type a message"
            />
            <button class="msg_send_btn" id="send_msg" type="button"
              ><i class="fa fa-paper-plane-o" aria-hidden="true"></i
            ></button>
          </div>
        </div>
      </div>
    </div> </div
></div>
<script>
  var roomName = "{{ user }}";
  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );
  console.log(chatSocket.readyState, ">>CHATSOCKET_STATE");

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const incoming_messages = document.getElementById("incoming_msg");
    const rec_msg_div = document.createElement("div");
    rec_msg_div.className = "received_msg";
    rec_msg_div.style = "margin-bottom: 15px";
    const rcv_witd_msg_div = document.createElement("div");
    rcv_witd_msg_div.className = "received_withd_msg";
    const msg_p = document.createElement("p");
    const msg_txt = document.createTextNode(data.message.content);
    msg_p.appendChild(msg_txt);
    rcv_witd_msg_div.appendChild(msg_p);
    rec_msg_div.appendChild(rcv_witd_msg_div);
    messages.appendChild(rec_msg_div);
    console.log(data);
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.getElementById("send_msg").onclick = function (e) {
    const msgInputDom = document.getElementById("input_msg");
    const msg = msgInputDom.value;
    console.log(msg, ">>MSG");
    chatSocket.send(
      JSON.stringify({
        command: "new_message",
        from: roomName,
        text: msg,
      })
    );
    msgInputDom.value = "";
  };
</script>
{% endblock content %}
